<section class="body">
    <div class="body_title">
        <H1 class="titulo">Maquetado Angular!</H1>
        <h3 class="parrafo">by Javi Caiola</h3>
    </div>
    <div class="body_navigator container" id="bash">
        <ul class="row bash-row">
            <li class="col bash-col">
                <a href="#Material">Material</a>
            </li>
            <li class="col bash-col">
                <a href="#Ejemplos">Ejemplos</a>
            </li>
            <li class="col bash-col">
                <a href="#index">index</a>
            </li>
            <li class="col bash-col">
                <a href="#Mantenimiento">Mantenimiento</a>
            </li>
        </ul>
    </div>
    <div class="capa">
        <button routerLink="/scroll-test">Scroll test</button>
    </div>
</section>
